/* general */

body {
  background: #FDFFFC;
  margin: 0;
}

@font-face {
  font-family: 'Pacifico'; /*a name to be used later*/
  src: url('fonts/Pacifico.ttf'); /*URL to font*/
}

/* header */

header {
  margin-top: -8px;
  border-bottom: solid 1px;
  background: #e8eff5;
  width: 100%;
}

header > img {
  margin-left: 150px;
}

.social-media {
  float: right;
  margin-top: 117px;
}

/* sidebar */

aside {
  height: 100%;
  width: 160px;
  background-color: #011627;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar > img {
  width: 100px;
  margin-left: 30px;
  margin-top: 30px;
}

.sidebar ul {
  margin-top: 30px;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.sidebar li {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar li:hover {
  background-color: #F71735;
  cursor: pointer;
}

.sidebar a {
  text-decoration: none;
  color: #FDFFFC;
  margin: 10px;
}

.sidebar li:nth-child(1)  {
  background-color: #F71735;
}


/* main content */

main {
  margin-top: 20px;
  margin-left: 160px;
}

.author-info {
  height: 14.25em;
  width: 12.5em;
  border: solid black 1px;
  margin-left: 15em;
  margin-top: 1em;
  display: inline-block;
  overflow: hidden;
  background: #e8eff5;
  padding: 15px;
}

.author-info img {
  width: 60px;
  margin-top: 1em;
}

#author, #dev {
  text-align: center;
  line-height: 1px;
  font-style: normal;
}

.author-info-email {
  font-size: 11px;
  margin-top: 4em;
}

#article-title {
  background: rgba(179,220,237,1);
  background: -moz-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(247,23,53,1) 0%, rgba(255,159,28,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,220,237,1)), color-stop(0%, rgba(247,23,53,1)), color-stop(100%, rgba(255,159,28,1)));
  background: -webkit-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(247,23,53,1) 0%, rgba(255,159,28,1) 100%);
  background: -o-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(247,23,53,1) 0%, rgba(255,159,28,1) 100%);
  background: -ms-linear-gradient(left, rgba(179,220,237,1) 0%, rgba(247,23,53,1) 0%, rgba(255,159,28,1) 100%);
  background: linear-gradient(to right, rgba(179,220,237,1) 0%, rgba(247,23,53,1) 0%, rgba(255,159,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#ff9f1c', GradientType=1 );
  height: 100px;
  width: 100%;
  text-align: center;
  line-height: 90px;
  color: white;
  font-size: 30px;
  font-family: 'Pacifico';
}

article {
  padding: 2rem 6rem;
  font-size: 1.1rem;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

article h3 {
  color: #F71735;
}

article h2 {
  color: #F71735;
}

/* footer */

footer {
  border-top: solid black 1px;
  width: 100%;
  background: #e8eff5;
}

footer > div {
  padding: 10px;
  text-align: center;
  margin-left: 160px;
  font-size: 11px;
}

footer > a {
  text-decoration: none;
}
